@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2 {
  text-wrap: balance;
}

h1 { @apply text-6xl; } 
h2 { @apply text-4xl; }
h3 { @apply text-2xl font-bold; }
ul { @apply list-disc ml-8; }

    .text-bubble {
      @apply text-5xl text-white w-96 p-10 bg-black;
    }

      .text-bubble::after {
        content: '';
        position: absolute;
        bottom: -40px;
        right: 35px;
        width: 0;
        height: 0;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 40px solid black;
      }

    .button {
      @apply bg-green-500 text-white font-bold p-4 rounded-xl;
    }